<style>
    .btn_link {
    text-decoration: none;
    border: 1px solid #000;
    background-color: green;
  }

  .btn_link:link, .btn_link:visited {
    color: #6abadeba;
  }

  .center {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
</style>
<h1>Create New Post</h1>


<%= render 'form'%>
